* {
    font-family:'Courier New', Courier, monospace
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
header {
    background-color: #47a0ce;
    text-align: center;
}
#hero {
    text-align: center;
}
.callout {
    text-align: center;
}
.dark-bg {
    background-color: black;
    color: #47a0ce;
}
.dark-bg a {
    color: #47a0ce;
}
nav {
    padding: 30px 15px 15px 15px;
}
#logo-cont {
    padding-top: 30px;
}